
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <%= image_tag(resource.avatar_thumbnail, class: "rounded-circle mt-5 mb-2") if resource.avatar.attached? %>
        <span class="font-weight-bold"><%= current_user.full_name %></span>
        <span class=" badge bg-secondary text-white ps-3 pe-3"><%= current_user.email %></span>
        <img class="rounded-circle mt-5" width="80px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
      </div>
    </div>

    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Profile Settings</h4>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autocomplete: "First Name", class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autocomplete: "Last Name", class: "form-control" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="col-md-12 mt-3">
            <%= f.label :avatar, "Profile image" %><br />
            <%= f.file_field :avatar, class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="card mt-3 bg-light">
            <div class="card-body">
              <div class="col-md-12">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="card mt-3 bg-light">
            <div class="card-body">
              <div class="col-md-12">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="col-md-12">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
          </div>
          

          <div class="mt-5 text-center">
            <%= f.submit "Update Profile", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="col-md-3">
    <div class="p-3 py-5">
      <h4>Cancel my account</h4>
      <div class="card">
        <div class="card-body bg-light">
        <div class="col-md-12"><label class="labels">Unhappy?</label>
        <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger mt-3", data: { confirm: "Are you sure?" }, method: :delete %>
        <p class="mt-2 text-danger">Note: You won't be able to recover account once it's deleted</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>





