 
 
<%= render "shared/info" %>

<% if @friends %>
  <div class="card mt-5">
    <div class="card-body">
      <table class="col-sm-12">
        <% @friends.each do |friend| %>
          <tbody>
            <tr>
              <td><strong class='me-3'>Name:</strong><%= friend.name %></td>
              <td><strong class='me-3 ms-4'>Email Address:</strong><%= friend.email %></td>
              <td><strong class=' ms-4'>Profile:</strong><%= link_to "View Profile", user_path(friend), class: 'badge bg-secondary lk ms-3'%>
              <% if current_user.not_friend_with?(friend.id) %>
              <%= link_to "Follow Friend", friendships_path(friend: friend), class: 'btn btn-success btn-sm ms-3', method: :post %>
              <% else %>
                <span class="badge bg-dark">You are friends</span>
              <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
<% end %>